:root {
    --navbar-color: grey;
    --hover-color: rgb(112, 112, 112);
    --text-color: black;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'EgyediFont1', Arial, sans-serif; 
    display: flex;
    flex-direction: column;
    background-image: url('kepek/varos_hatter.gif'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.balnav {
    display: flex;
    align-items: center; 
}

.cikk-hasáb {
    background-color: rgba(173, 216, 230, 0.7); 
    padding: 20px; 
    border-radius: 10px; 
    border: 3px solid black; 
    max-width: 800px; 
    margin: 20px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.logo {
    width: 60px; 
    height: 60px; 
    margin-right: 10px; 
}
#temperature {
    font-size: 18px; 
    margin-left: 100px; 
    color: white;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #333; 
    padding: 5px 0; 
    border-bottom: 5px solid; 
    animation: rainbow-border 5s linear infinite; 
}

main {
    flex: 1;
}

nav {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
}

nav ul {
    margin: 0 130px;
}

nav ul.kategoria {
    list-style-type: none; 
    display: flex; 
    justify-content: center; 
    padding: 0; 
    margin: 0; 
}

nav ul.balnav li a {
    display: block;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    padding: 5px;
    font-size: 50px; 
    color: white; 
    text-decoration: none; 
}

nav ul.kategoria li a,

nav ul.kategoria li a {
    color: white; 
    text-decoration: none; 
    font-size: 20px; 
    margin: 0 15px; 
}

nav ul.kategoria li a:hover {
    color: var(--hover-color); 
}

nav ul.balnav {
    list-style-type: none;
    display: flex;
    text-align: left;
    align-items: left;
}

nav ul.balnav li a:hover {
    color: var(--hover-color);
}

nav .jobbnav {
    list-style-type: none;
}

nav ul.jobbnav li p:hover {
    color: var(--hover-color);
}

footer {
    background-color: #333; 
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 5px solid; 
    animation: rainbow-border 5s linear infinite; 
    padding: 5px 0; 
}
footer ul li p {
    font-size: 14px; 
    margin: 0; 
}
.navbar-title {
    color: white; 
    font-size: 50px; 
    text-decoration: none; 
    text-shadow: 
        2px 2px 0 black,  
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black; 
}


footer ul {
    display: flex;
    gap: 30px; 
}

footer ul li a {
    display: block;
    text-align: center;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 15px;
}
#exchange-rate {
    position: absolute; 
    top: 20px; 
    left: -15px; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 5px; 
    border-radius: 5px; 
}



.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 45px;
}
  
.news-article {
    width: 45%;
    display: inline-block;
    background-color: rgba(173, 216, 230, 0.7); 
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 10px;
    border: 3px solid black; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.news-article:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.news-article img {
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid black;
}
  
.news-article h2 {
    font-size: 18px;
    margin-top: 10px;
    text-align: left;
    margin-left: 20px;
}
  
.news-article p {
    font-size: 14px;
    text-align: left;
    margin-left: 20px;
}
  
.news-article button {
    background-color: black;
    color: #fff;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 10px;
}
  
.news-article button:hover {
    background-color: #666;
}

@font-face {
    font-family: 'EgyediFont1'; 
    src: url('fonts/custom.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}

@keyframes rainbow-border {
    0% {
        border-color: red;
    }
    14% {
        border-color: orange;
    }
    28% {
        border-color: yellow;
    }
    42% {
        border-color: green;
    }
    57% {
        border-color: blue;
    }
    71% {
        border-color: indigo;
    }
    85% {
        border-color: violet;
    }
    100% {
        border-color: red; 
    }
}
